@use "../../../styles.scss" as *;

.desk__container {
  margin-bottom: 1rem;
  h2 {
    text-align: center;
    font-size: 2.4rem;
    margin: 1rem 0;
    background-color: $background-color-2;
    padding: 1rem 0;
  }

  .desk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    &__inbox {
    }
    &__outbox {
    }
    &__newMessage {
    }
  }
}
